[Unit]
Description=Automated pcapng uploading
After=network.target

[Service]
User=pi
Group=pi
Restart=always
RestartSec=10
Type=simple
ExecStart=/home/pi/wpa-sec-api/upload-pcapng.sh

[Install]
WantedBy=default.target
