[Unit]
Description=copycaps

[Service]
User=root
Group=root
Restart=always
RestartSec=15
StartLimitBurst=5
StartLimitIntervalSec=0
Type=simple
ExecStart=/usr/bin/copycaps.sh

[Install]
WantedBy=default.target
